.container--customer {
    display: flex;
    justify-content: center;
}
.content {
    width: 80%;
}
.header--customer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.item-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid 1px black;
    box-shadow: 5px 6px #d2cbcb;
    border-radius: 25px; */
    width: 100%;
}