.marginTopBot {
    margin: 2rem 0;
}
.container--customer {
    display: flex;
    justify-content: center;
}
.content {
    width: 80%;
}
.header--customer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.item-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.wdth200 {
    width: 200px;
    margin: 30px;
}